body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #3498db;
    color: white;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

#video-filter {
    padding: 5px;
    margin: 10px;
}

#filter-button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

#filter-button:hover {
    background-color: #45a049;
}

#video-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.video-item {
    width: 300px;
    margin: 10px;
    border: 1px solid #ccc;
    padding: 10px;
}

.video-item img {
    max-width: 100%;
}

* Style the logo container */
.logo-container {
    position: absolute;
    top: 10px; /* Adjust the distance from the top as needed */
    right: 10px; /* Adjust the distance from the right as needed for right corner */
}

/* Style the logo image */
.logo-container img {
    width: 50px; /* Adjust the width of your logo as needed */
    height: 50PX; /* Maintain the aspect ratio */
    Align: Left
}
footer {
            background-color: blue; /* Changed background color to blue */
            color: #fff;
            padding: 20px;
            text-align: center;
            display: flex; /* Horizontally aligning the content */
            justify-content: center; /* Horizontally centering the content */
        }

        footer ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        footer ul li {
            margin-bottom: 10px;
        }

        @media only screen and (max-width: 600px) {
            footer ul {
                text-align: center;
            }

            footer ul li {
                display: block;
                margin: 5px 0;
            }
        }
